<!DOCTYPE html>

<html>

<head>
    <title> 404 </title>
    <link rel="icon" href="/img/img2.jpg">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class = "main-content">
            <h1>{{title}}</h1>
            <p>{{text}}</p>
    </div>
</body>




</html>