<!DOCTYPE html>

<html>
    
<head>
    <title> about </title>
    <link rel="icon" href="/img/img2.jpg">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
    <p>{{text}}</p>
    <img class="portrait" src ="/img/img.jpg">
    </div>
    
    {{>footer}}
</body>




</html>